.header{
    position: fixed;
    width: 100%;
    background-color: $white;
    &__logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1em;
        padding-bottom: 0.5em;
        height: 1.5em;
    }
}