.header{
    width: 100%;
    background-color: $white;
    &__logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0.5em;
        height: 1.5em;
    }
}
.header-acceuil{
    padding-top: 0.8em;
}
header .fas{
    position: absolute;
    padding-top: 0.4em;
    margin-left: 1.5em;
    color: black;
}