.img-menus img{
    width: 100%;
    object-fit: cover;
    height: 20em;
    @include desktop{
        object-fit: cover;
        height: 30em;
    }
    @include tablets{
        width: 100%;
        height: 20em;
        object-fit: cover;
    }
    @include tablets-L{
        object-fit: cover;
        height: 30em;
    }
}
.menus{
    @include desktop{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        border: $color-secondary 0.5em dashed ;
    }
    position: relative;
    top: -2em;
    padding-bottom: 2em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    background-color: $background2;
}
.main-background-pages{
    background-color: $background2;
}
.menu-top{
    display: flex;
    flex-direction: row;
    &__titre{
        display: flex;
        flex-direction: row;
        font-family: 'Shrikhand', cursive;
        font-style: oblique;
        font-size: 0.8em;
        margin: auto;
        margin-left: 1em;
        &--icon{
            position: absolute;
            right: 2em;
            top: 1.3em;
            cursor: pointer;
            .far{
                &:hover{
                    animation: heartanim 1200ms cubic-bezier(.26,.74,.73,.03) both;
                    font-weight: 900;
                    background: -webkit-linear-gradient(bottom,$color-primary,$color-secondary);
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                }
            }
            /*.far{
                font-weight: normal;
                color: darken($color-tertiary, 40%);
                &:hover{
                    animation: heartanim 1200ms linear both;
                    font-weight: 900;
                    background: -webkit-linear-gradient(top,lighten($color-secondary, 100%) 80%,$color-primary 20%);
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
                }
            } */
        }
    }
}
.menus-types{
    opacity: 0;
    animation: fadein 4s linear 1s both;
    &:nth-child(2){
        animation-delay: 2s;
    }
    &:nth-child(3){
        animation-delay: 3s;
    }
    &:nth-child(4){
        animation-delay: 4s;
    }
    margin: 0 1em 0 1em;
    padding-bottom: 0.1em;
    &__titre{
        font-size: 0.7em;
        padding-bottom: 1em;
        color: darken($color-tertiary,40%);
    }
    &__bordure{
        position: relative;
        bottom: 0.7em;
        border-top: 2px white solid;
        width: 1.8em;
        border-color: darken($color-tertiary,40%);
    }
    &__menu{
        margin-bottom: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        background-color: $white;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px darken($color-tertiary,5%);
        width: auto;
        
    }
}
.menus-modif{
    :hover>&__animation{
        width: 40%;
        visibility: visible;
        transition: width 1s ease-in;
    }
    :hover>&__animation .far{
        animation: cloche 1s ease-in;
    }
    display: flex;
    cursor: pointer;
    &__nom{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 1em;
        &--1{
            font-weight: bold;
            font-size: 0.8em;
        }
        &--2{
            font-weight: lighter;
            font-size: 0.7em;
            display: flex;
            justify-content: space-between;
            .subtitle{
                width: 90%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            .prix{
                margin-left: 25%;
                margin-right: 7%;
                font-weight: bold;
            }
        }
    }
    &__animation{
        overflow: hidden;
        margin-top: -8px;
        margin-bottom: -8px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background: $color-tertiary;
        width: 0%;
        .far{
            font-weight: 900;
            color: lighten($color-tertiary, 80%);
            position: relative;
            margin-left: 40%;
            bottom: -13px;
        }
    }
}
.btn-pages{
    font-size: small;
    font-weight: lighter;
    width: 8em;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
}