@mixin tablets {
    @media screen and (min-width: map-get($breakpoints, tablets)){
        @content;
    }
}
@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}
@mixin tablets-L {
    @media screen and (min-width: map-get($breakpoints, tablets-L)){
        @content;
    }
}
@mixin btn{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em 0.8em;
    line-height: 2em;
    border-radius: 5em;
    color: #FFF;
    font-size: 1em;
    font-weight: normal;
    background-image: radial-gradient(ellipse farthest-corner at 0px 2px, $color-secondary 0%,$color-primary 100%);
    transition: all 1s ease-in-out;
}
@mixin btn-hover($color:$color-primary) {
    background-image: radial-gradient(ellipse farthest-corner at 0px 2px, $color-secondary 0%,lighten($color-primary,10%) 100%);
}
@mixin btn-focus($color:$color-primary) {
    background-image: radial-gradient(ellipse farthest-corner at 0px 2px, $color-secondary 0%,lighten($color-primary,10%) 100%);
}